<form class="input-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-form-field
    labelText="Currency"
    [displayError]="form.get('query').dirty && !form.valid"
    errorText="invalid Input"
  >
    <input
      appInput
      formControlName="query"
      list="currencyList"
      (blur)="onBlur()"
    />
    <datalist id="currencyList">
      <option
        *ngFor="let option of currencyOptions"
        value="{{ option.a + '/' + option.b }}"
      ></option>
    </datalist>
  </app-form-field>
  <div class="app-select-container">
    <label for="interval">Update interval</label>
    <select class="app-select" name="interval" formControlName="interval">
      <option *ngFor="let key of objectkeys(intervalMap)">{{ key }}</option>
    </select>
  </div>
  <button appButton type="submit">Submit</button>
</form>
<div class="ad"><span>Your ad could be here</span></div>
