@import "../../theme/variables.scss";

:host {
  display: flex;
  flex-flow: row nowrap;
}

.app-form-field,
.app-select-container {
  width: 200px;
}

.app-select-container {
  margin-bottom: 10px;
}

.ad {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  padding: 5px;

  @media (max-width: $screen-max-sm) {
    font-size: 1rem;
  }
}
