$screen-max-xs: 576px;
$screen-max-sm: 768px;
$screen-max-md: 992px;
$screen-max-lg: 1200px;

$color-primary: #fafafa;
$color-primary-dark: #c7c7c7;
$color-primary-light: #ffffff;

$color-secondary: #546e7a;
$color-secondary-dark: #29434e;
$color-secondary-light: #62727b;

$color-grey-1: #eeeeee;

$color-green-success: #67b979;
$color-red-error: #da3546;

@mixin shadow {
  box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 0.5);
}

@mixin shadow-light {
  box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 0.2);
}

@mixin shadow-contrast {
  box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.5);
}
