<div class="left">
  <div class="header">
    <div class="info-block">
      <span class="key">Currency</span>
      <span class="value">{{ displayData?.ticker }}</span>
    </div>
    <div class="info-block">
      <span class="key">Change</span>
      <span
        class="value change"
        [ngClass]="{ 'is-negative': displayData?.changes < 0 }"
      >
        {{ displayData?.changes | number: ".5" }}</span
      >
    </div>
    <div class="info-block">
      <span class="key">Last Update</span>
      <span class="value">{{ displayData?.date | date: "mediumTime" }}</span>
    </div>
  </div>
  <div class="content">
    <div class="info-block">
      <span class="key">Bid</span>
      <span class="value">{{ displayData?.bid }}</span>
    </div>
    <div class="info-block">
      <span class="key">Ask</span>
      <span class="value">{{ displayData?.ask }}</span>
    </div>
    <div class="info-block">
      <span class="key">Open</span>
      <span class="value">{{ displayData?.open }}</span>
    </div>
    <div class="info-block">
      <span class="key">Low</span>
      <span class="value red">{{ displayData?.low }}</span>
    </div>
    <div class="info-block">
      <span class="key">High</span>
      <span class="value green">{{ displayData?.high }}</span>
    </div>
  </div>
</div>
<div class="right">
  <div class="controls">
    <div class="app-select-container">
      <label for="interval">Update interval</label>
      <select
        class="app-select"
        name="interval"
        (change)="onIntervalChange($event)"
      >
        <option
          *ngFor="let item of objectkeys(intervalMap)"
          selected="{{
            intervalMap[item] === currencyItem.interval ? 'selected' : ''
          }}"
        >
          {{ item }}
        </option>
      </select>
    </div>
    <button appButton (click)="onRemoveClick()">Remove</button>
  </div>
</div>
