@import "../../theme/variables.scss";

:host {
  margin-top: 30px;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: $color-primary-light;
  @include shadow-light;

  @media (max-width: $screen-max-sm) {
    flex-flow: row wrap-reverse;
  }
}

.left {
  width: 100%;
}

.right {
  margin-left: 20px;

  @media (max-width: $screen-max-sm) {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
}

.header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.content {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.info-block {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;

  .key {
    white-space: nowrap;
    font-weight: 700;
  }

  .value {
    &.red {
      color: $color-red-error;
    }

    &.green {
      color: $color-green-success;
    }
  }
}

.controls {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
}

.change {
  color: $color-green-success;

  &.is-negative {
    color: $color-red-error;
  }
}
