<div class="wrapper">
  <div class="main-container">
    <app-forex-wall-input
      (notifySubmit)="onSubmit($event)"
    ></app-forex-wall-input>
    <app-forex-wall-item
      *ngFor="let item of currencyItems"
      [currencyItem]="item"
      (deleteSelf)="handleDeleteItem($event)"
    ></app-forex-wall-item>
  </div>
</div>
