@import "../theme/variables.scss";
.wrapper {
  margin: 100px 0;
  min-height: 100vh;
  @media (max-width: $screen-max-sm) {
    margin: 100px 10%;
  }
}

.main-container {
  @include shadow;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  background-color: $color-primary;
  max-width: 600px;
  padding: 20px;
  border-radius: 20px;
}
