/* You can add global styles to this file, and also import other style files */
@import "./app/theme/variables.scss";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: Tahoma, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: black;
}

.app-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: $color-secondary-dark;
  border-radius: 5px;
  height: 40px;

  outline: none;

  &.is-small {
    font-size: 0.7rem;
    height: 30px;
  }

  &:focus {
    background-color: $color-secondary-light;
  }
}

.app-input {
  border-radius: 5px;
  height: 40px;
  line-height: 30px;
  width: 100%;
  padding: 0 10px;
  border: 1px solid $color-grey-1;
  background-color: $color-grey-1;
  outline: none;
  box-sizing: border-box;

  &:hover {
    border: 1px solid $color-primary-dark;
  }

  &:focus {
    border: 1px solid $color-primary-dark;
  }
}

.app-select-container {

  .app-select {
    height: 30px;
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid $color-grey-1;
    background-color: $color-grey-1;

    &:hover {
      border: 1px solid $color-primary-dark;
    }

    &:focus {
      border: 1px solid $color-primary-dark;
    }
  }

  label {
    white-space: nowrap;
    font-size: 0.8rem;
    text-align: center;
  }
}


